/* Small Screen */
.container {
  margin: 1rem;
}

.movies {
  margin-top: 5rem 0;
  background-color: #570530;
  text-align: center;
  padding: 1rem;
  border-radius: 25px;
}

.movies__title {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.34rem;
  color: #ffffff;
}

.movies__addmovie {
  background-color: #570530;
  border-radius: 12px;
  color: white;
  border-style: solid;
  padding: 1rem;
}

.movie__container {
  display: flex;
  flex-direction: column;
}


/* Medium Screen */
@media (min-width: 768px) {
  .movie__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }
}
