
  
  .navbar__item {
      color: white;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
  }


@media (min-width: 768px) { 
   

    .navbar__item {
        margin: 0 1rem;
    }
}

  